@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-bg {
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url('/img/background.jpg')
        no-repeat center top;
    background-size: cover;
}

.navigation {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.logo {
    width: 123px;
    @apply mb-4;
}

.logo-text {
    transform: rotate(-10deg);
    top: 50px;
    left: 10px;
    width: 120px;
}

.left-1\/4 {
    left: 25%;
}

button:focus {
    @apply outline-none;
}

.link {
    @apply text-orange-700;
}

.link:hover {
    @apply text-gray-300;
}

@font-face {
    font-family: 'Capitolium';
    src: url('/fonts/Capitolium-RegularRomanOsf.woff2') format('woff2'),
    url('/fonts/Capitolium-RegularRomanOsf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
