@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

.theme-bg {
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url('/img/background.jpg')
        no-repeat left top;
    background-size: cover;
}

.bg-semi-black {
    background: rgba(0, 0, 0, 0.45);
}

.navigation {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.logo {
    width: 123px;
    @apply mb-4;
}

.logo-text {
    transform: rotate(-10deg);
    top: 50px;
    left: 10px;
    width: 120px;
}

.left-1\/4 {
    left: 25%;
}

button:focus {
    @apply outline-none;
}

.link {
    @apply text-orange-700;
}

.link:hover {
    @apply text-gray-800;
}

@font-face {
    font-family: 'Capitolium';
    src: url('/fonts/Capitolium-RegularRomanOsf.woff2') format('woff2'),
    url('/fonts/Capitolium-RegularRomanOsf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.input {
    @apply appearance-none;
    @apply block;
    @apply w-full;
    @apply bg-gray-200;
    @apply text-gray-700;
    @apply border;
    @apply border-gray-200;
    @apply leading-tight;
    @apply outline-none;
}

.rounded-xl {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}